/*RESET*/

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  font-family: Romic-Medium;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 7px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 375px;
}

.barbox {
  position: relative;
  flex: 1;

}
.colorbars {
  margin:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 60vw;
  max-width: 700px;
  max-height: 700px;
  transform: translate(-50%, -50%);


  border: 4px solid black;
  background: linear-gradient(270deg, rgba(0,190,255,0.5), rgba(0,255,39,0.5), rgba(255,245,0,0.5), rgba(255,144,0,0.5), rgba(255,6,6, 0.5));

  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 45s linear infinite;
  -moz-animation: AnimationName 45s linear infinite;
  animation: AnimationName 45s linear infinite;

  -webkit-box-shadow: 11px 9px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 9px 41px 0px rgba(0,0,0,0.75);
  box-shadow: 11px 9px 41px 0px rgba(0,0,0,0.75);
}
@-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
}
@keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
}
.coverart {
  flex: 1;

  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  display: block;
  border: 2px solid black;
  box-shadow: 11px 9px 41px 0px rgba(0,0,0,0.75);
  margin: auto;
}
.bgimg {
   background-size:cover;
   background-repeat: repeat;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.output {
  display: none;
}

@font-face {
    font-family: Romic-Medium;
    src: local(Romic-Medium), url('fonts/Romic-Medium.ttf') format('opentype');
}
